.tabs {
    max-width: 100vw;
}

.card {
    display: flex;
    height: inherit;
}

.imageContainer {
    height: 200px;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.title {
    text-align: center;
    scroll-margin-top: 6em;
    max-width: 900px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
