.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  @media screen and (max-width: 996px) {
    flex-direction: column;
    gap: 0em;
  }
}

.heading {
  display: flex;
  align-items: center;
}

.title {
  font-size: 4rem;
  margin: 0;
  @media screen and (max-width: 996px) {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 498px) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.content {
}

.desc {
}

.button {
  display: flex;
  align-items: center;
}

.titleIcon {
  height: 0.85em;
  width: auto;
  vertical-align: middle;
}

.icon {
  height: 1em;
  margin-right: 0.5em;
}
