.projectTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.projectContainer {
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), var(--bg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  transition: transform 0.4s ease;
  background-position: center, center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.projectContainer:hover {
  /* transform: scale(1.05); */
  /* cursor: pointer; */
}

.title {
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), var(--bg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: auto, 100%;
}


.difficulty {
  color: var(--ifm-color-content-dark);
}
